body{

    background-color: rgba(32, 33, 36, 1);

}

.slider{

    width: 730px;
    height: 410px;

}

img{
    
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ms-100-vh{

    height: 100vh;
}

.fa-solid{

    text-shadow: 2px 2px black;

}